.top-banner{
    width:100%;
    background:#fff;
}

.top-banner-image{
    width:100%;
    height:110px;
    object-fit:cover;
    display:block;
}

.sidebar{
    top:110px;
}

.main{
    margin-left:260px;
    padding:140px 30px 30px;
}
